*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{
    height: 100vh;
    border: 20px solid black;
    display: flex;
    flex-direction: row;
}

.child1{
    height: 200px;
    background: blueviolet;
    order: 0;
    flex: 1 1 auto;
}

.child2{
    height: 200px;
    background: green;
    order: 2;
    flex: 2 1 auto;
}

.child3{
    height: 200px;
    background: burlywood;
    order: 1;
    flex: 1 1 auto;
}